<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Cadastro</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="cadastroForm">
    <div class="form-group">
      <label>Nome de usuário</label>
      <input type="text" class="form-control" required ng-model="user.username"/>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" required ng-model="usar.email"/>
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="text" class="form-control" required ng-model="user.password"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="createUserForm.$invalid" ng-click="cpCtrl.createProduct(product)">Cadastrar</button>
  <button class="btn btn-danger" type="button" ng-click="cpCtrl.cancel()">Cancelar</button>
</div>
